<div class="row">
  <% books.each do |book| %>
    <div class="col-md-3 mb-4">
      <div class="card mx-auto mt-4 aspect-ratio" style="height: auto;">
        <div class="card-body py-0">
          <%= link_to book_path(book) do %>
            <%= image_tag book.get_book_image(200, 200), class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <p class="card-title"><%= book.title %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


