<% if model.errors.any? %>
<div id="error_explanation">
  <%= model.errors.count %> 件のエラーがあります:
  <ul>
    <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>