<h6 class="sideber_title">検索</h6>
  <ul class="sidebar_manu">
   <li><%= link_to '全書籍一覧', books_path %></li>
    <li><%= link_to '全スポット一覧', spots_path %></li>
  </ul>
<h6 class="sideber_title">ジャンル別</h6>
  <ul class="sidebar_manu">
   <li>文芸書</li>
   <li>コミック</li>
  </ul>
<h6 class="sideber_title">所在地別</h6>
  <ul class="sidebar_manu">
    <li>北海道</li>
    <li>東北</li>
    <li>関東</li>
    <li>中部</li>
    <li>近畿</li>
    <li>中国</li>
    <li>四国</li>
    <li>九州</li>
  </ul>