
  <table>

  <% users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image(50,50) %></td>
      <td><%= link_to user.name, user_path(user.id) %></td>
      <td>フォロー数</td>
      <td>フォロワー数</td>
    </tr>
  <% end %>

  </table>

