<div class='container-fluid'>
  <div class='row no-gutters  bg-white'>
    <div class='col-md-12'>
      <div class="row">
        <div class='col-md-7 text-center'>
          <img src="/assets/explanation_image" class="img-fluid" alt="">
        </div>
        <div class='col-md-5 mt-5'>
          <br>
          <p>書籍やスポットの閲覧は会員登録なしでご覧いただけます。<p><br>
          <p>書籍・スポットの投稿やコメントなどはログインまたは会員登録が必要です。</p><br><br>
          <%= link_to '新規会員登録', new_user_registration_path, class: "nav_button" %>
          <%= link_to 'ログイン', new_user_session_path, class: "nav_button" %>
        </div>
      </div>
    </div>
  </div>
</div>