<div class='container-fluid'>
  <div class='row no-gutters bg-white'>
    <div class='col-md-10 mx-auto'>
 
      <div class="row">
        <div class='col-md-12'>
        <img src="/assets/images/main_image.webp" class="top_image" alt=""><br>
        </div>
      </div>


      <div class="row">
      <h3 class="h3_text">新着書籍投稿</h3>
        <div class="col-md-12">
          <div class="row">         
            <%= render "temp/book_index", books: @books_new, user: @user %>
          </div>
        </div>
        <div class="col-md-12 text-right mb-5">
          <%= link_to 'すべての書籍投稿を見る＞', books_path, style: 'text-decoration: underline;' %>
        </div>
      </div>

      <div class="row">
      <h3 class="h3_text">新着スポット投稿</h3>
        <div class="col-md-12">
          <div class="row"> 
            <%= render "temp/spot_index", spots: @spots_new, user: @user %>
          </div>
        </div>
        <div class="col-md-12 text-right mb-5">
          <%= link_to 'すべてのスポット投稿を見る＞', spots_path, style: 'text-decoration: underline;' %>
        </div>
      </div>

  </div>
</div>


