<div class='container-fluid'>
  <div class='row no-gutters bg-white'>
    <div class='col-md-10 mx-auto'>
      <div class="p-3 mb-2">
        <h4 class="h4_text">スポット一覧</h4>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <div class="row"> 
            <%= render "temp/spot_index", spots: @spots, user: @user %>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
