/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @charset "UTF-8";

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

/* 見出し設定 */
.h4_text {
  font-family: 'Kaushan', cursive, sans-serif;
  border-bottom: 2px solid #193278;
  display: inline-block;
  padding: 5px;
  margin: 20px;
}

/* ヘッダー背景色 */
.bg_custom {
  background: #F8F8FF;
  height :100px;
 }
 
/* ヘッダーロゴ */
.logo_image {
   width: 85px;
   height: 85px;
   background-size: auto;
   background-repeat: no-repeat;
 }

/* ヘッダーUserログイン時下段背景色 */
.bg_user_bottom {
  background: #193278;
  color: white;
}

/* ヘッダーadminログイン時下段背景色 */
.bg_admin_bottom {
  background: #bc8f8f;
  color: white;
}

/* ヘッダーボタン */
.nav_button {
  background: #193278;
  text-decoration: none;
  color: white;
  border-radius : 10px;
  padding: 10px;
  margin: 0px 10px;
  font-family: 'BIZ UDPGothic', Arial, sans-serif;
  }

  .nav_button:hover {
    text-decoration: none; /* マウスオーバー時のリンク下線を非表示にする */
    color: white; /* マウスオーバー時の文字色 */
  }

  .nav_button a {
    color: white; 
    text-decoration: none;
  }
  
  .nav_button a:hover {
    color: white;
    text-decoration: none;
  }

/* ヘッダーボタン位置右寄せ　*/
.ml-auto {
  margin-left: auto;
}

/* ヘッダーログイン・ログアウトボタン */
.nav_button_login_logout {
  border: 2px solid #193278;
  background: #F8F8FF;
  text-decoration: none;
  color: #193278;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-family: 'BIZ UDPGothic', Arial, sans-serif;
  }

  .nav_button_login_logout:hover {
    text-decoration: none; /* マウスオーバー時のリンク下線を非表示にする */
    color: #193278; /* マウスオーバー時の文字色 */
  }

/* top画像サイズ */
.top_image {
  margin: 10px;
  width: 1000px;
  border-radius: 50%;
}

/* about画像サイズ */
.about_image {
  width: 699px;
  height: 392px;
}

/* プロフィール画像 */
.profile_image img {
  border-radius: 50%;
}

/* プロフィール自己紹介、好きな本 */
.profile_table .title {
  width: 100px;
}

.profile_table .body {
  width: 300px;
}

/* 一覧画面カード画像サイズ */
.card-img-top {
  height: 200px;
  margin-top: 30px;
}

/* 一覧画面カードテキスト */
.card-title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 書籍詳細情報 */
.book_table {
  border: solid 1px;
  margin: 20px;
}

.book_table .th,td {
  padding: 15px;
  margin: auto;
}

  .element_table {
    margin: 10px;
  }

/* スポット詳細情報 */
.spot_table {
  border: solid 1px;
  margin: 20px;
}

.spot_table .th,td {
  padding: 15px;
  margin: auto;
}

/* 画像クリックポインタ */
.clickable-image {
  cursor: pointer;
}

/* ブックマークボタン（クリック済み） */
.bookmark_button_selected {
  display: inline-block;
  background: #FF6600;
  text-decoration: none;
  color: white;
  border-radius : 100px;
  padding: 10px;
}

/* ブックマークボタン（未クリック） */
.bookmark_button_nonselected {
  display: inline-block;
  border: 2px solid #FF6600;
  background: #FFFFAA;
  text-decoration: none;
  color: #FF6600;
  border-radius: 100px;
  padding: 10px;
  }

  .bookmark_button_selected a, 
  .bookmark_button_nonselected a {
    text-decoration: none;
    color: inherit;
  }
  
  .bookmark_button_selected a:hover, 
  .bookmark_button_nonselected a:hover {
    text-decoration: none;
    color: inherit;
  }

  /* ブックマークアイコン（カード内カウント表示用） */
  .bookmark_icon {
    position: absolute;
    top: -1px;
    right: 3px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    color: #FF6600;
    }

/* ブックマークアイコン（リスト内カウント表示用） */
  .index_bookmark_icon {
    color: #FF6600;
  }

/* spot/show行きたい！行ったよ！ボタン横並び設定 */
  .button-container {
    display: flex;
    gap: 10px; 
    justify-content: flex-start; 
    align-items: center;
  }

/* 行きたい！ボタン（クリック済み） */
.want_to_go_button_selected {
  display: inline-block;
  background: #00CCCC;
  text-decoration: none;
  color: white;
  border-radius : 100px;
  padding: 10px;
}

  /* 行きたい！ボタン（未クリック） */
.want_to_go_button_nonselected {
  display: inline-block;
  border: 2px solid #00CCCC;
  background: #E6FFE9;
  text-decoration: none;
  color: #00CCCC;
  border-radius: 100px;
  padding: 10px;
  }

  .want_to_go_button_selected a, 
  .want_to_go_button_nonselected a {
    text-decoration: none;
    color: inherit;
  }
  
  .want_to_go_button_selected a:hover, 
  .want_to_go_button_nonselected a:hover {
    text-decoration: none;
    color: inherit;
  }

  /* 行きたい！アイコン（カウント表示用） */
.want_to_go_icon {
  position: absolute;
  top: -1px;
  right: 50px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  color: #00CCCC;
  }

/* 行きたい！アイコン（リスト内カウント表示用） */
.index_want_to_go_icon {
  color: #00CCCC;
}

  /* 行ったよ！ボタン（クリック済み） */
.went_button_selected {
  display: inline-block;
  background: #FF44FF;
  text-decoration: none;
  color: white;
  border-radius : 100px;
  padding: 10px;
}

  /* 行ったよ！ボタン（未クリック） */
.went_button_nonselected {
  display: inline-block;
  border: 2px solid #FF44FF;
  background: #FFD5EC;
  text-decoration: none;
  color: #FF44FF;
  border-radius: 100px;
  padding: 10px;
  }

  .went_button_selected a, 
  .went_button_nonselected a {
    text-decoration: none;
    color: inherit;
  }
  
  .went_button_selected a:hover, 
  .went_button_nonselected a:hover {
    text-decoration: none;
    color: inherit;
  }

  /* 行ったよ！アイコン（カウント表示用） */
.went_icon {
  position: absolute;
  top: -1px;
  right: 3px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  color: #FF44FF;
  }

/* 行ったよ！アイコン（リスト内カウント表示用） */
.index_went_icon {
  color: #FF44FF;
}

/* フォロボタン（フォロー済み） */
.followed_btn {
  display: inline-block;
  background: #8B008B;
  text-decoration: none;
  color: white;
  border-radius : 100px;
  padding: 10px;
}

  /* フォローボタン（未フォロー） */
.following_btn {
  display: inline-block;
  border: 2px solid #8B008B;
  background: #DDA0DD;
  text-decoration: none;
  color: #8B008B;
  border-radius: 100px;
  padding: 10px;
  }

  .followed_btn a, 
  .following_btn a {
    text-decoration: none;
    color: inherit;
  }
  
  .followed_btn a:hover, 
  .following_btn a:hover {
    text-decoration: none;
    color: inherit;
  }

/* フォローアイコン（リスト内カウント表示用） */
.follow_icon {
  color: #8B008B;
}

.card-image {
  width: 200px;
  height: 200px;
  object-fit: contain; 
  background-color: white; /* 空いた部分を白で埋める */
  display: block;
}

/* ページネーション */
.pagination{
  width: fit-content;
  margin: 25px auto;
  font-size: 0.8rem;
  line-height: 2rem;
}

.first a,
.prev a,
.page a,
.next a,
.last a{
  color: #193278;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #193278;
}

.first a:hover,
.prev a:hover,
.page a:hover,
.next a:hover,
.last a:hover{
  border: 1px solid #ffffff;;
  background-color: #193278;
  color: #ffffff;
}

span.current{
  color: #777777;
}