/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @charset "UTF-8";

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

/* フォント指定 */
header, h3 {
  font-family: 'Kaushan', cursive, sans-serif;
}

/* 見出し設定 */
.h3_text {
  margin: 20px;
}

/* ヘッダー・フッター背景色 */
 .bg_custom {
   background: #e7e7e6;
   height :100px;
 }
 
/* ヘッダーロゴ */
 .logo_image {
   width: 85px;
   height: 85px;
   background-size: auto;
   background-repeat: no-repeat;
 }

/* ヘッダー下段背景色 */
 .bg_custom_bottom {
  background: #5d7f90;
  color: white;
}

/* ヘッダーボタン */
.nav_button {
  background: #5d7f90;
  text-decoration: none;
  color: white;
  border-radius : 10px;
  padding: 10px;
  margin: 10px;
  }

  .nav_button:hover {
    text-decoration: none; /* マウスオーバー時のリンク下線を非表示にする */
    color: white; /* マウスオーバー時の文字色を白にする */
  }

/* top/about画像サイズ */
.img-fluid {
  width: 699px;
  height: 392px;
}

/* プロフィール画像 */
.profile_image img {
  border-radius: 50%;
}

/* プロフィール自己紹介、好きな本 */
.profile_table .title {
  width: 100px;
}

.profile_table .body {
  width: 300px;
}

/* 一覧画面カード画像サイズ */
.card-img-top {
  height: 200px;
}

/* 一覧画面カードテキスト */
.card-title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 書籍詳細情報 */
.book_table {
  border: solid 1px;  /* 枠線指定 */
  margin: 20px;

}

.book_table .th,td {
  padding: 15px;      /* 余白指定 */
  margin: auto;
}

  .element_table {
    margin: 10px;
  }

/* スポット詳細情報 */
.spot_table {
  border: solid 1px;  /* 枠線指定 */
  margin: 20px;
}

.spot_table .th,td {
  padding: 15px;      /* 余白指定 */
  margin: auto;
}

/* 画像クリックポインタ */
.clickable-image {
  cursor: pointer;
}