<div class='container-fluid container-sidebar'>
  <div class='row no-gutters bg-white'>
    <div class='col-md-2 bg-custom-sidebar'>
      <%= render 'temp/sidebar' %>
    </div>

    <div class='col-md-10'>
      <div class="p-3 mb-2">
        <h3>書籍一覧</h3>
      </div>


    <div class="row">
      <div class="col-md-12 text-center">
        <div class="row"> 
          <%= render "temp/book_index", books: @books, user: @user %>
        </div>
      </div>
    </div>


  </div>
</div>
