<div class='container-fluid'>
  <div class='row no-gutters bg-white'>

    <div class='col-md-10 mx-auto'>
      <div class="p-3 mb-2">
        <h3 class="h3_text">ユーザー一覧</h3>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <div class="row"> 
            <%= render "temp/user_index", users: @users %>
          </div>
        </div>
      </div>
    </div>>

  </div>
</div>